.page-header
  .row
    .col-md-12
      -if current_user.id == @user.id || current_user.admin
        .pull-right
          %h1= link_to 'Edit',edit_user_path(@user), class:'btn btn-info'
      %h1= @user.full_name
%dl.dl-horizontal
  %dt First Name
  %dd= @user.first_name.capitalize
  %dt Last Name
  %dd= @user.last_name.capitalize
  - if current_user.admin || current_user.project_member_of(@user)
    %dt Email
    %dd= mail_to @user.email.downcase
  - if @user.pivotal_tracker_token
    %dt Pivotal Tracker Token
    %dd= @user.pivotal_tracker_privacy
