.page-header
  .row
    .col-md-12
      .pull-right
        %h1= link_to 'Edit',edit_project_task_path(@task.project_id, @task), class:'btn btn-info'
      - if @task.complete
        %h1
          %s=@task.description.downcase.titleize
      - else
        %h1= @task.description.downcase.titleize
%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li= link_to @task.project.name, project_path(@task.project_id)
  %li= link_to 'Tasks',project_tasks_path(@task.project_id)
  %li.active= @task.description
.row
  .col-md-12
    -if @task.due_date.present?
      %p
        %strong Due Date:
        = @task.due_date.strftime("%m/%d/%Y")
    %h3 Comments
- @comments.each do |comment|
  .row
    .col-md-3
      - if comment.user_id
        %p= link_to comment.user.full_name, user_path(comment.user_id)
      - else
        %p (deleted user)
      %p.text-muted= "#{time_ago_in_words(comment.created_at)} ago"
      %br
    .col-md-9
      %p= comment.content
.row
  .col-md-9.col-md-offset-3
    = form_for [@task, @comment] do |f|
      .form-group
        = f.text_area :content, class: 'form-control'
      .form-group
        = f.submit class: 'btn btn-primary'
