<div class="container">

  <div class="page-header">
    <h1>Frequently Asked Questions</h1>
  </div>
  <ul>
    <li><%= link_to  'What is gCamp?',               '#What is gCamp'.paramaterize %></li>
    <li><%= link_to  'How do I join gCamp?',         '#How do I join gCamp'.downcase.strip.gsub(" ","-") %></li>
    <li><%= link_to  'When will gCamp be finished?', '#When Will gCamp be Finished'.downcase.strip.gsub(" ","-") %></li>
  </ul>

  <p class="h3">ERB will go here </p>
  <p>ERB will go here</p>
  <p><%=link_to "Top","#"%></p>

  <p class="h3">ERB will go here </p>
  <p>ERB will go here</p>
  <p><%=link_to "Top","#"%></p>

  <p class="h3">ERB will go here </p>
  <p>ERB will go here</p>
  <p><%=link_to "Top","#"%></p>

</div>
