- if @task.errors.any?
  .row
    .col-md-7.col-md-offset-2
      .alert.alert-danger
        %h3
          = pluralize(@task.errors.count, "error")
          prohibited this form from being saved:
        - @task.errors.full_messages.each do |message|
          %ul
            %li= message
= form_for(@task, html: {class: 'form-horizontal'}) do |f|
  .form-group
    = f.label :description, class: 'col-md-2 control-label'
    .col-md-6
      = f.text_field :description, class: 'form-control'
  .form-group
    = f.label :due_date, class: 'col-md-2 control-label'
    .col-md-3
      = f.date_field :due_date, class: 'form-control'

  - unless @task.new_record?
    .form-group
      .col-md-3.col-md-offset-2
        = f.check_box :complete
        = f.label :complete

  .form-group
    .col-md-6.col-md-offset-2
      = f.submit class:'btn btn-primary'
      = link_to 'Cancel', tasks_path, class: 'btn btn-default'
