<div class= 'page-header'>
  <div class= 'row'>
    <div class= 'col-md-12'>
      <div class= 'pull-right'>
        <h1><%= link_to 'Edit',edit_task_path(@task), class:'btn btn-info'%></h1>
      </div>
      <% if @task.complete %>
        <h1><s><%= @task.description.downcase.titleize %></s><h1>
      <% else %>
        <h1><%= @task.description.downcase.titleize%></h1>
      <% end %>
    </div>
  </div>
</div>
<div class= 'row'>
  <div class= 'col-md-12'>
    <ol class= 'breadcrumb'>
      <li><%= link_to 'Tasks',tasks_path%></li>
      <li class= 'active'><%= @task.description %></li>
    </ol>
  </div>
</div>

<div class= 'row'>
  <div class= 'col-md-12'>
    <p><strong> Due Date:</strong></p>
      <% if @task.due_date %>
        <%= @task.due_date.strftime("%m/%d/%Y") %>
      <% end %>
  </div>
</div>
