<div class ="container">
  <div class= "page-header">
  <h1>Editing Task </h1>
  </div>
  <%= form_for @task do |f| %>
  <p><%= f.label :description %></p>
  <p><%= f.text_field :description %><p>
  <p><%= f.submit "Update Task" %></p>
  <% end %>
  <p> <%= link_to 'Show',task_path(@task) %> | <%= link_to 'Back',tasks_path %>
</div>
