- if @user.errors.any?
  .row
    .col-md-7.col-md-offset-2
      .alert.alert-danger
        %h3
          = pluralize(@user.errors.count, "error")
          prohibited this form from being saved:
        - @user.errors.full_messages.each do |message|
          %ul
            %li= message
= form_for(@user, html: {class: 'form-horizontal'}) do |f|
  .form-group
    = f.label :first_name,'First Name', class: 'control-label col-md-2'
    .col-md-4
      = f.text_field :first_name, class: 'form-control'
  .form-group
    .text-left
    = f.label :last_name, 'Last Name', class: 'control-label col-md-2'
    .col-md-4
      = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :email, 'Email', class: 'control-label col-md-2'
    .col-md-4
      = f.email_field :email, class: 'form-control'
  .form-group
    .col-md-6.col-md-offset-2
      = f.submit class:'btn btn-primary'
      = link_to 'Cancel', users_path, class: 'btn btn-default'
