.page-header
  .row
    .col-md-12
      .pull-right
        %h1= link_to 'Edit',edit_user_path(@user), class:'btn btn-info'
      %h1= "#{@user.first_name} #{@user.last_name}"
.row
  .col-md-12
    %ol.breadcrumb
      %li= link_to 'Users',users_path
      %li.active= "#{@user.first_name} #{@user.last_name}"
.row
  .col-md-12
    %p
      %strong Email:
      =@user.email.downcase
