.page-header
  .pull-right
    (Showing first 500)
  %h1= "Stories for gCamp"
%table.table.table-striped
  %thead
    %tr
      %th Story
      %th Estimate
      %th Labels
      %th Current State
  %tbody
    - @tracker_projects.first(500).each do |story_hash|
      %tr
        %td= story_hash[:name]
        %td= story_hash[:estimate]
        %td= story_hash[:labels].map { |hash| hash[:name] }.join(',')
        %td= story_hash[:current_state]
