.page-header
  .pull-right
    = link_to 'Edit', edit_project_path(@project), class: 'btn btn-info'
    = link_to 'Delete', project_path(@project),class: 'btn btn-danger', method: :delete
  %h1= @project.name
%ol.breadcrumb
  %li= link_to 'Projects', projects_path
  %li.active= @project.name
%p= link_to pluralize(@project.tasks.count, "Task"), project_tasks_path(@project)
%p= link_to pluralize(@project.memberships.count, "Membership"), project_memberships_path(@project)
