<div class="container">
  <div class="page-header">
    <h1>Frequently Asked Questions</h1>
  </div>
  <ul>
    <%@array[1].each do |question|%>
    <li><%=link_to question, '#'+question.downcase.gsub(' ','-')%></li>
    <% end %>
  </ul>
  <div class ="row">
    <div class="col-md-6">
      <% @array[0].each do |question, answer| %>
       <%=content_tag :a,'',name: question.downcase.gsub(' ','-') %>
        <p class="h3"> <%= question %></p>
        <p><%= answer %> </p>
        <p><%=link_to 'Top','#'%></p>
        <% end %>
    </div>
  </div>
</div>
