.page-header
  .pull-right
    (Showing first 500)
  %h1= "Stories for #{@project}"
%table.table.table-striped
  %thead
    %tr
      %th Story
      %th Estimate
      %th Labels
      %th Current State
  %tbody
    -if current_user.pivotal_tracker_token
      - @stories.first(500).each do |story_hash|
        %tr
          %td= story_hash[:name]
          %td= story_hash[:estimate]
          %td= story_hash[:labels].map { |label_hash| label_hash[:name] }.join(',')
          %td= story_hash[:current_state]
