%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .row
      .navbar-header.col-md-12
        %ul.nav.navbar-nav.navbar-right
          %li= link_to current_user.full_name, user_path(current_user.id)
          %li= link_to 'Sign Out', sign_out_path
        = link_to "gCamp", projects_path, class:"navbar-brand"
        %ul.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :role => "button"}
              Projects
            -# = link_to('#', class: 'dropdown-toggle', data:{toggle: 'dropdown'}, role: 'button') do
            -#   Projects
            -# %span.caret
            %ul.dropdown-menu{role: 'menu'}
              - current_user.projects.each do |project|
                %li= link_to project.name, project_path(project)
              %li.divider
                %li= link_to 'New Project', new_project_path
          %li= link_to 'Users', users_path
