<!DOCTYPE html>
<html>
<head>
  <title>Gcamp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand"href="#">gCamp</a>
    </div>
  </nav>
<%= yield %>
<footer>


  <div class="container">
    <div class="page-header">
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= link_to "About", about_path%> |
        <%= link_to "Terms", terms_path%>
      </div>
      <div class="col-md-6">
        <%= link_to image_tag("galvanize.png", class:"footer-img"), "https://students.gschool.it/cohorts/8/students/280" %>
        <%= link_to image_tag("twitter.png", class:"footer-img"), "https://twitter.com/dylanjham" %>
        <%= link_to image_tag("GitHub.png", class:"footer-img"), "https://github.com/dylanham" %>
        <%= link_to image_tag("linked_in.jpg", class:"footer-img"), "https://www.linkedin.com/pub/dylan-ham/77/895/532" %>

      </div>
    </div>
  </div>

</footer>
</body>
</html>
